

<%= simple_form_for :user, url: '/signup' do |f| %>
    <h1>Sign Up</h1>
    <%= f.input :first_name %><br>
    <%= f.input :last_name %><br>
    <%= f.input :email %><br>
    <%= f.input :password %><br>
    <%= f.button :submit %>
    <%= link_to 'Already have an account!Log In', login_path %>
 
    <% end %>

    
    
    
    
    
    
    
    
    
    
    

















